/Groepen-war/build/
/Groepen-ejb/build/
/Groepen-ejb/dist/
/nbproject/private/
/Groepen-war/nbproject/private/
/Groepen-ejb/nbproject/private/
/ApplicationClient/nbproject/private/
/ApplicationClient/build/
/build/
/ApplicationClient/dist/
/Groepen-war/dist/
/dist/